/*
	Name: peeyush yerremsetty 
	File: index.html
	Date: Feb 29 2024 
	Description: this program will create a website and Styling A cool-looking box
*/


html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */   