/*
	Name: peeyush yerremsetty 
	File: index.html
	Date: Feb 29 2024 
	Description: this program will create a website and Styling A cool-looking box
*/


html {
    font-family: sans-serif;

  }
  
  /* Your CSS below here */    

  div{
    /* width of 200ppx box */
    width: 200px;
    /* height  of the box is 200 px */
    height: 200px;
     /* Center the box horizontally */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: red;
    color: white;


  }